# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
**/build
**/.next
**/.tanstack
**/.output
**/.nitro
**/.vercel
**/.wrangler
package-lock.json
yarn.lock
pnpm-lock.yaml
routeTree.gen.ts
